rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function isAvatarOwner(uid) {
      return signedIn() && request.auth.uid == uid;
    }

    match /avatars/{uid}/{allPaths=**} {
      allow read, write: if isAvatarOwner(uid);
    }

    match /receipts/{uid}/{allPaths=**} {
      allow read, write: if isAvatarOwner(uid);
    }

    match /posts/{uid}/{allPaths=**} {
      allow read: if signedIn();
      allow write: if isAvatarOwner(uid);
    }

    match /posts/{postId}/{allPaths=**} {
      allow read, write: if signedIn();
    }

    match /stories/{uid}/{allPaths=**} {
      allow read: if signedIn();
      allow write: if isAvatarOwner(uid);
    }

    match /chat/{threadId}/{uid}/{allPaths=**} {
      allow read: if signedIn();
      allow write: if isAvatarOwner(uid);
    }
  }
}
